<p>list-course works!</p>
<br>
<h1>{{ myTitle  | title:'react js'}}</h1>
<h1>{{ 100 | braket:'react js'}}</h1>

<br>
<div *ngFor="let user of userList">
    {{user | json}}
</div>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>

<div class="row">
    <div class="col" *ngFor="let course of cList?.['sub-home'].data">
        <app-course [imgid]="course._id" [configs]="course['spayee:resource']">
        </app-course>
    </div>
</div>