<!-- <p>login works!</p> -->

<div class="col">
    <div class="container" style="border: 1px solid rgb(240, 234, 234); border-radius: 10px;">

        <form novalidate #f="ngForm">
            <div class="mb-3">
                <label>User Name</label>
                <input ngModel name="Fname" type="text" class="form-control" required #myFname="ngModel">
                <div class="text-danger" *ngIf="myFname.touched&&myFname.invalid">
                    <p>*Please enter your user name</p>
                </div>
            </div>



            <div class="mb-3">
                <label>Email </label>
                <input ngModel name="Email" type="email" class="form-control" minlength="6" required #myEmail="ngModel">
                <div class="text-danger" *ngIf="myEmail.touched&&myEmail.invalid">
                    <p *ngIf="myEmail?.errors?.['minlength']"> Email should be atleast 6 characters long</p>
                    <p>Please enter your Email</p>
                </div>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input ngModel name="Password" type="password" class="form-control" required #myPassword="ngModel">
                <div class="text-danger" *ngIf="myPassword.touched&&myPassword.invalid">
                    <p>*Please enter your Password</p>

                </div>
            </div>

            <div class="form-group">
                <button (click)="getFormsValue(f)">Submit</button>
            </div>
        </form>
    </div>
</div>